flask
absl-py==0.8.0
asn1crypto==0.24.0
astor==0.8.0
backcall==0.1.0
beautifulsoup4==4.6.0
boto3==1.9.241
botocore==1.12.241
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
conda==4.5.8
conda-build==3.12.0
cryptography==2.3
Cython==0.29.13
decorator==4.3.0
docutils==0.15.2
filelock==3.0.4
gast==0.2.2
glob2==0.6
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.0
mecab-python3==0.996.2
mkl-fft==1.0.4
mkl-random==1.0.1
numpy==1.17.2
olefile==0.45.1
opt-einsum==3.1.0
pandas==0.25.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==6.2.0
pkginfo==1.4.2
prompt-toolkit==1.0.15
protobuf==3.9.2
psutil==5.4.6
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pyknp==0.4.1
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
pytz==2019.2
PyYAML==5.1
regex==2019.8.19
requests==2.20.0
ruamel-yaml==0.15.37
s3transfer==0.2.1
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
tensorboard==2.0.0
tensorboardX==1.8
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.36.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
